<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Task</h1>
          <ul class="govuk-list govuk-list--bullet govuk-!-font-size-27">
            <li><%= @task.description%></li>
          </ul>
      </div>
    </div>
  </main>

  <div class="govuk-button-group">
    <%= form_for @task, url: "/tasks/#{@task.id}/edit", method: :get , builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_submit 'Edit task' %>
    <% end %>

    <%= form_for @task, url: "/tasks/#{@task.id}", method: :delete , builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_submit 'Delete task', warning: true %>
    <% end %>
  </div>
</div>

<a href="/tasks" class="govuk-back-link">View All Tasks</a>













